/* Overlay preko celog ekrana */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  cursor: pointer;
}

/* Sadržaj modala */
.modal-content {
  position: relative;
  min-width: 30%;
  max-width: 90%;
  max-height: 95%;
  display: flex;
}

/* Prikaz slike u modalu */
.modal-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

/* Dugme za zatvaranje */
.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 32px;
  color: white;
  cursor: pointer;
}

.modal-close-button:hover {
  color: #ff0000;
}

@media screen and (max-width: 767px) {

  .modal-content {
    max-width: 90%;
  }

}

/* Za chat na telefonu */
@media screen and (max-width: 479px) {

  .hide {
    display: none;
  }

  .show {
    display: flex;
  }

}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #4ca2ff;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*Windows for confirm friend remove*/
.remove-friend-confirm-background {
  background-color: #0006;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  inset: 0%;
  z-index: 9999;
}

.remove-friend-confirm-div {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #fff;
  border: 4px solid gray;
  border-radius: 24px;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  width: 600px;
  margin: auto;
  padding: 24px;
  display: flex;
  position: relative;
  inset: 0%;
}

.remove-friend-confirm-text {
  font-size: 1.5rem;
}

.remove-friend-confirm-buttons-div {
  justify-content: space-between;
  display: flex;
}

.remove-friend-confirm-cancel-button {
  color: #fff;
  background-color: gray;
  border-radius: 8px;
  transition: all .3s;
}

.remove-friend-confirm-cancel-button:hover {
  background-color: #595959;
}

.remove-friend-confirm-cancel-remove {
  color: #fff;
  background-color: red;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 400;
  transition: all .3s;
}

.remove-friend-confirm-cancel-remove:hover {
  background-color: #b30000;
}

@media screen and (max-width: 767px) {
  .remove-friend-confirm-div {
    justify-content: center;
    align-items: stretch;
    width: 400px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 479px) {
  .remove-friend-confirm-div {
    width: 100%;
    margin-left: 12px;
    margin-right: 12px;
  }

  .remove-friend-confirm-text {
    font-size: 1rem;
  }

  .remove-friend-confirm-cancel-button,
  .remove-friend-confirm-cancel-remove {
    border-radius: 4px;
    padding: 4px 9px;
  }
}

/*For editing post on /profile*/
.edit-post-container {
  animation: fadeIn 0.3s ease-in-out;
  /* Animacija za otvaranje */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.edit-post-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

/*User photo*/

.user-profile-photo {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}